body {
  margin: 0;
  font-family: 'Fredericka the Great',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Fredericka the Great', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

background {
  background: #fff8dc
}

.tab-list {
  border-bottom: 1px solid #d1fdf6;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: #5Fc8FF;
  border-width: 1px 1px 0 1px;
  color: #000;
}